h4{
  color: rgb(150, 150, 150);
}

h3{
  display: table;
  margin: 0 auto;
}

h5{
  margin-left: 20px;
  color: rgb(0, 100, 0);
}

p{
  margin-left: 20px;
}

li{
  margin-left: 10%;
}


img{
  display: table;
  margin: 0 auto;
}